* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  padding: 0px 20px 0px;
	background-color: blanchedalmond;
}


.questions-list{
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
  padding: 0px;
  margin: 0 auto;
}

.game__score {
 width: 340px;
 margin: 0 auto;
 border: 1px solid red;
}

.questions__item{
  border: 1px solid blueviolet;
  list-style-type: none;
}
.game__score {
  border: 1px solid red;
}

.question {
	width: 340px;
  display: flex;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.question__image{
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 1px solid green;
}
.question__info {
	width: 340px;
	margin: 0 auto;
}
.qusetion__answer{
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}



.quiz {
  width: 100%;
  margin: 0 auto;
}

.quiz__wrap {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.quiz__answers {
	margin: 0px;
	padding: 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.quiz__answer {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  border: 1px solid blueviolet;
  cursor: pointer;
}

.bird {
	display: flex;
	flex-direction: column;
}
.bird__wrap {
  display: flex;
}

.bird__image {
  width: 170px;
  height: 170px;
	margin: 0 auto;
	border: 5px solid green;
}

.bird__info{
	width: 50%;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bird__name {
	border: 1px solid green;
}
.bird__species {
	border: 1px solid green;
}
.bird__description {
	border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}



.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 340px;
  margin: 20px 0px 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}




.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('images/play.svg');
}


.volume {
  background-image: url('images/volume.svg');
  background-size: cover;
  width: 18px;
  height: 18px;
}

.volumeOff {
  background-image: url('images/volumeoff.svg');
}

.pause {
  background-image: url('images/pause.svg');
}



.trackTime {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}


#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  width: 100%;
  border-radius: 30px;
}
#volume-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  width: 60%;
  border-radius: 30px;
}

#volume-bar::-webkit-slider-thumb,
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  height: 10px;
  width: 5px;
  border: 0;
  background: skyblue;
  border-radius: 30px;
  cursor: pointer;
}
#volume-bar::-webkit-slider-runnable-track,
#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

#progress-bar:focus {
  outline: none;
}

.quiz__submit{
	width: 100%;
	height: 30px;
}